<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Hola mundo {{ title }}!
  </h1>
  <p>{{descripcion}}</p>
  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
</div><br><br>
<section>
    <button (click)="verVideojuego(true)" *ngIf=!show>Ver</button>
    <button (click)="verVideojuego(false)" *ngIf=show>Ocultar</button>
    <videojuego *ngIf=show></videojuego>
</section><br><br>
<app-curso></app-curso>
<section>
  <nav>
    <ul>
      <li>
        <a (click)="open($event.target)" id="m-serv">Servicios</a>
        <ul *ngIf=isClick>
            <li>sub-item 2.1</li>
            <li>sub-item 2.2</li>
        </ul>
      </li>
      
    </ul>
  </nav>
</section>
<app-footer></app-footer>
