<h3>
  <span *ngIf="parameters.tipo">Tipo:{{parameters.tipo}}</span>
  <span *ngIf="parameters.code">id:{{parameters.code}}</span>
</h3>
<button (click)="goTo()">Ir al home</button>
<h3>Añadir marca</h3>
<div>
  <input type="text" [(ngModel)]="nombreCurso" (blur)="onBlur($event.target)" (keyup.enter)="verTexto()">
  <span>{{nombreCurso}}</span><br>
  <button (click)="addNombreCurso()">Agregar</button>
</div>

<h3>Te capacitamos en:</h3>
<ul>
  <li *ngFor="let nombre of nombreCursos; let i=index">
    <span [class.text-important]="(i+1)%2===0" [ngClass]="['text-small',(i+1)%2===0?'bg-gray':'']">
      {{i+1 +''+nombre}}</span>
    <button (click)="borrarNombreCurso(i)">Borrar</button>
  </li>
</ul>
<h3>Detalle de cursos</h3>
<ul>
  <ng-container *ngFor="let curso of cursos">
    <li *ngIf="curso.disponible">
      {{curso.nombre}} - {{curso.precio}}
      <span *ngIf="curso.precio<=300" [style.color]="curso.precio<=300 ? 'green':''">
        ¡En promoción!
      </span>
    </li>
  </ng-container>
</ul>

<h3>Verificar ngSwitch</h3>
<div [ngSwitch]="color">
  <p *ngSwitchCase="'red'" [ngStyle]="{'color':color}">Color rojo</p>
  <p *ngSwitchCase="'blue'" [ngStyle]="{'color':color}">Color azul</p>
  <p *ngSwitchDefault>Color negro</p>
</div>